span{
    padding: 0px 5px;
    font-family: inherit;
    font-size: inherit;
}

.input {
    font-family: inherit;
    color: purple;
    border:none;
    font-size:inherit;
  }

.input:hover{
    cursor: pointer;
}
.input:focus{
    border:1px solid purple;
    
}
 