span{
    padding: 0px 5px 0px 0px;
    font-family: inherit;
    font-size: inherit;
}

.input {
    font-family: inherit;
    font-size: inherit;
    color: purple;
    padding: 0px 5px 0px 0px;
  }

.input:hover{
    cursor: pointer;
}
.input:focus{
    border:1px solid purple;
}
 